@using Shared;

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-8 mb-4 mb-lg-0">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-white shift-left">
                            <img src="img/admin.jpeg" alt="Avatar" class="img-fluid my-3 profile-img" />
                            <h5>Welcome, @Name</h5>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <table class="table align-middle mb-0 bg-white">
                                    <thead class="bg-light">
                                        <tr>
                                            <th>User Info</th>
                                            <th>User Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var user in Users)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <img src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                                                             alt=""
                                                             style="width: 45px; height: 45px"
                                                             class="rounded-circle" />
                                                        <div class="ms-3">
                                                            <p class="fw-bold mb-0">@user.Name</p>
                                                            <p class="text-muted mb-0">@user.Username</p>
                                                            <p class="text-muted mb-0">@user.PhoneNumber</p>
                                                            <p class="text-muted mb-0">@user.Email</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="text-muted mb-0">@user.UserType</p>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    [Parameter]
    public List<UserDto> Users { get; set; } = new List<UserDto>();

    [Parameter]
    public string Name { get; set; }
}